/* You can add global styles to this file, and also import other style files */

body {
    font-size: 1.5rem !important;
}
app-create-bom,app-upload-bom,app-home {
    margin-left: 8%;
    display: block;

}